//main wrappers
.site-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    transition: all 300ms;
}

.header-space {
    height:3rem;

    @include tablet {
        height:4.5rem;
    }
}

.content-wrapper{
    flex: 1;
}

.col-wrapper {
    display:flex;
    justify-content: flex-start
}

.row {
    display:block;
    padding:0 1rem;
    margin: 0 auto;

    @include desktop {
        max-width: 1120px;
    }
}

.form-container {
    .col-wrapper {
        justify-content: space-between;

        .form-el {
            display: block;
            width: 100%;

            input {
                &:not([type="checkbox"]):not([type="radio"]) {
                    display:block;
                    width: 100%;
                }
            }
        }

        .gutter {
            width:3em;
        }
    }
}




//header
.header {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: $header-bg;
    z-index: 1000;

    @include tablet {
        height: 4.5rem;
    }

    &__wrapper {
        display: flex;
        margin: 0 auto 0 auto;
        width: 90%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    
        @include desktop {
            width: 1120px;
        }
    }
}

.logo {
    height: 18px;

    @include tablet {
        height: 32px;
    }

}

//intro
.intro {
    padding: 3rem 0 3rem 0;
    background-color: $intro-bg;

    &__wrapper {
        display: flex;
        margin: 0 auto 0 auto;
        width: 90%;
        justify-content: space-between;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
        }
    
        @include desktop {
            width: 1120px;
        }
    }

}

//results
.results-container {

    padding: 3rem 0 3rem 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin: 0 auto 0 auto;
        width: 90%;
        align-items: center;
        justify-content: space-between;
    
        @include desktop {
            width: 1120px;
        }
    }

}

//footer
.footer {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    background-color: $footer-bg;
    border-top: 1px solid rgba(0,0,0,0.1);

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto 0 auto;
        width: 90%;
        align-items: center;
        line-height: 1.5rem;
        height: 100%;
        padding: 1.5rem 0 1.5rem 0;
    
        @include desktop {
            width: 1120px;
        }
    }

    &__link {
        display: inline-block;
        color: $hyperlink;
        text-decoration: none;

        &:hover {
            color: $hyperlink-hover;
        }
    }

    &__divider {
        color: $divider;
    }
}


.modal-backdrop {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(0,0,0,0.7);

    .modal-content {
        max-width:700px;
        width:96%;
        margin:0 auto;
        position:relative;
        top:12%;
        max-height:80%;
        background: $ot-navy;
        color: #fff;
        padding: 1.5em;
        overflow-y: scroll;

        .close {
            position:absolute;
            right:20px;
            top:20px;
            font-style:normal;
            width:200px;
            text-align:right;
            cursor:pointer;
        }

        .modal-title {
            margin:0 0 10px;
            max-width:90%;
        }

        .form-container {
            margin:20px 0 0;

            input {
                border-radius:0;
            }

            .form-el.inline {




                label {
                   // width: calc(100% - 30px);
                }
            }

        }

        hr {
            opacity:0.3;
        }
    }
}