<div class="calculator-container">

	<div class="tabs">
		<ul>
			<li @click="tab = 'PD'" :class="{active: tab == 'PD'}">
				<span>Privacy Dashboards</span>
			</li>
			<li @click="tab = 'SM'" :class="{active: tab == 'SM'}">
				<span>Smart Migrations</span>
			</li>
			<li @click="tab = 'PC'" :class="{active: tab == 'PC'}">
				<span>Processing Correspondence</span>
			</li>
		</ul>
	</div>

	<div class="info">
		<p>Fill in the values for the three fields below for your lab.  Value will be calculated using typical assumptions. If you want to view or change the assumptions, click <span class="link" @click="showAssumptions = !showAssumptions">here to show/hide assumptions.</span></p>
	</div>

	<div class="calculator-input-container">

		<div class="calculator-input">

			<div class="assumptions" v-if="showAssumptions">
				<h4>Assumptions</h4>

				<div v-if="tab != 'PD'" class="form-el">
					<div class="col-half">
						<label>Work hours per year</label>
						<span class="sublabel">(Default 1875)</span>
					</div>
					<div class="col-half">	
						<input type="number" v-model="yrHrs">
					</div>
				</div>

				<div class="form-el">
					<div class="col-half">
						<label>Loaded KW FTE Salary</label>
						<span class="sublabel">(Default $65,000)</span>
					</div>
					<div class="col-half">
						<input 
						  v-model="fteSal_str"
						  v-currency="{locale, currency}"
						  >
					</div>
				</div>

				<div v-if="tab == 'SM'" class="form-el">
					<div class="col-half">
						<label>Cost of Managing RW RB per year</label>
						<span class="sublabel">(Default $2,500)</span>
					</div>
					<div class="col-half">
						<input
						  v-model="manRwTb_str"
						  v-currency="{locale, currency}"
						>
					</div>
				</div>

				<div v-if="tab == 'PC'" class="form-el">
					<div class="col-half">
						<label>Est. time to receive correspondence</label>
						<span class="sublabel">(Default 2 minutes)</span>
					</div>
					<div class="col-half">
						<input type="number" v-model="coorTime">
					</div>
				</div>

				<div v-if="tab == 'PC'" class="form-el">
					<div class="col-half">
						<label>Est. time for review and route of mail</label>
						<span class="sublabel">(Default 3 minutes)</span>
					</div>
					<div class="col-half">
						<input type="number" v-model="mailRevTime">
					</div>
				</div>

				<hr>

			</div>

			<div :class="['input-column', 'first', {'two-columns' : !hasCalculated}]">

				<div class="form-el">
					<div class="col-half">
						<label>Is the company public or private?</label>
						<span class="sublabel">Select from drop-down</span>
					</div>
					<div class="col-half">
						<select v-model="companyType">
							<option>Private</option>
							<option>Public</option>
						</select>
					</div>
				</div>

				<div class="form-el">
					<div class="col-half">
						<label>Is the company regulated/unregulated?</label>
						<span class="sublabel">Select from drop-down</span>
					</div>
					<div class="col-half">
						<select v-model="companyRegulated">
							<option>Regulated</option>
							<option>Unregulated</option>
						</select>
					</div>
				</div>

				<div class="form-el">
					<div class="col-half">
						<label>Does the company handle customer data?</label>
						<span class="sublabel">Select from drop-down</span>
					</div>
					<div class="col-half">
						<select v-model="handlesCustData">
							<option>Yes</option>
							<option>No</option>
						</select>
					</div>
				</div>

			</div>

			<div :class="['input-column', {'two-columns' : !hasCalculated}]">

				<div class="form-el">
					<div class="col-half">
						<label>Annual Revenue</label>
						<span class="sublabel">(Default 100 Million)</span>
					</div>
					<div class="col-half">
						<input 
							v-model="annRevenue_str" 
							v-currency="{locale, currency}"
						>
					</div>
				</div>

				<div class="form-el ">
					<div class="col-half">
						<label>Number of Employees</label>
						<span class="sublabel">(Default 5000)</span>
					</div>
					<div class="col-half">
						<input type="number" v-model="numEmployees">
					</div>
				</div>

				<div class="form-el">
					<div class="col-half">
						<label>Number of Customers</label>
						<span class="sublabel">(Default 20000)</span>
					</div>
					<div class="col-half">
						<input type="number" v-model="numCustomers">
					</div>
				</div>

				<div class="form-el">
					<div class="col-half">
						<label>Percentage of Knowledge Workers</label>
						<span class="sublabel">(Default 20%)</span>
					</div>
					<div class="col-half">
						<input type="number" v-model="percentKnowledgeWorkers">
					</div>
				</div>

			</div>

			<button class="btn" @click="calculate">Calculate</button>
			<button class="btn" @click="reset">Start Over</button>

		</div>

		<div 
			v-show="hasCalculated"
			class="chart-container"
			>
			<div class="chart-container--inner">
				<div id="savingsChart"></div>
			</div>
		</div>
	</div>

	<div 
		v-if="hasCalculated" 
		class="calculator-output bg-gray"
		>
		<div class="">
			<div class="row">
				<div class="col-summary col-header">
					<div>
						<h3>POTENTIAL BENEFITS ANAYLSIS</h3>
					</div>
				</div>
				<div class="col-res">
					<div>
						<h3>Conservative Estimate</h3>
					</div>
				</div>
				<div class="col-res">
					<div>
						<h3>Likely Estimate</h3>
					</div>
				</div>
			</div>

			<div v-if="tab == 'PD'">
				<div class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Search and selection effort reduction</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(pdSsC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(pdSsL)"></span>
						</div>
					</div>
				</div>

				<div v-if="tab == 'PD'" class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Visualization effort reduction</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(pdVisC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(pdVisL)"></span>
						</div>
					</div>
				</div>

				<div v-if="tab == 'PD'" class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Increased discovery accuracy</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(pdDiscoaccC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(pdDiscoaccL)"></span>
						</div>
					</div>
				</div>

				<div v-if="tab == 'PD'" class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Risk reduction</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(pdRrC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(pdRrL)"></span>
						</div>
					</div>
				</div>

			</div> <!-- end of PD -->

			<div v-if="tab == 'SM'">
				<div class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Search, discovery and selection effort reduction</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(smReddsC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(smReddsL)"></span>
						</div>
					</div>
				</div>

				<div class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Elimination of redundant content</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(smElredContC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(smElredContL)"></span>
						</div>
					</div>
				</div>

				<div class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Better, faster reports for planning</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(smBfrC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(smBfrL)"></span>
						</div>
					</div>
				</div>

			</div> <!-- end of SM -->

			<div v-if="tab == 'PC'">
				<div class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Ingest processing effort reduction (scanned mail)</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(iperC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(iperL)"></span>
						</div>
					</div>
				</div>

				<div class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Review and routing time reduction (scanned mail)</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(rrtrC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(rrtrL)"></span>
						</div>
					</div>
				</div>

				<div class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Elec. correspondance ingest, review and route reduction</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(elcrrrC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(elcrrrL)"></span>
						</div>
					</div>
				</div>


				<div class="row border-bottom">
					<div class="col-summary">
						<div>
							<label>Re-work reduction</label>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(rwrC)"></span>
						</div>
					</div>
					<div class="col-res">
						<div>
							<span class="value" v-html="formatNum(rwrL)"></span>
						</div>
					</div>
				</div>

			</div> <!-- end of PC -->


			<div class="row">
				<div class="col-summary">
					<div>
						<h3>TOTAL ESTIMATED BENEFIT</h3>
					</div>
				</div>
				<div class="col-res">
					<div>
						<span class="value" v-html="formatNum(totalCons)"></span>
					</div>
				</div>
				<div class="col-res">
					<div>
						<span class="value" v-html="formatNum(totalLikely)"></span>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>