<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>OpenText&trade; | AI-Driven Content Advisor - Value Calculator</title>
	<link rel="icon" href="<%= require('./img/favicon-16x16.png') %>"/>
</head>
<body>

<div class="site-wrapper ar-ot-calc">
	<div class="content-wrapper">

		<header class="header">
			<div class="header__wrapper">
				<img src="<%= require('./img/opentext-logo-white.svg') %>" alt="OpenText Logo" class="logo" />
				<!-- Main Navigation -->
				<!-- <div class="main-nav">
					<a href="#" class="main-nav__item">Home</a>
					<a href="#" class="main-nav__item main-nav__item--is-selected">Calculators</a>
					<a target="_blank" href="https://blogs.opentext.com/introducing-opentext-magellan-power-ai-pre-integrated-platform-machine-assisted-decision-making/" class="main-nav__item">How it works</a>
				</div> -->
			</div>
		</header>

		<div class="header-space"></div>

		<!-- calculator -->
		<div id="calculator">
			<div v-show="loaded" style="display:none">
				<div class="row" :class="[{'blurred': showGate}]">
					<h1>AI-Driven Content Advisor - Value Calculator</h1>
					<%= require('html-loader?minimize!./calculator.html') %>
				</div>
				<div v-show="showGate">
					<%= require('html-loader?minimize!./gate.html') %>
				</div>
			</div>
		</div>

	</div><!-- end content wrapper -->

	<!-- footer -->
	<footer class="footer">
		<div class="footer__wrapper">
			&copy; Copyright 2019 OpenText Corp. All rights reserved.&nbsp;&nbsp;<a class="footer__link" href="https://www.opentext.com/who-we-are/copyright-information/site-privacy" target="_blank">Privacy Policy</a>&nbsp;&nbsp;<span class="footer__divider">|</span>&nbsp;&nbsp;<a class="footer__link" href="https://www.opentext.com/who-we-are/copyright-information/site-cookies-information" target="_blank">Cookie Policy</a>
		</div>
	</footer>

</div><!-- end site wrapper -->
</body>
</html>