<div class="modal-backdrop">
	<div class="modal-content">
		<!-- <i class="close" @click="showGate = false">X</i> -->
		<p class="modal-title text-large">Let us know where we can send the report, and if you'd like to follow up.</p>
		<hr>

		<div class="form-container">

			<div class="col-wrapper">
				<div class="form-el">
					<label>Email Address*</label>
					<input type="email">
				</div>
			</div>

			<div class="col-wrapper">
				<div class="form-el">
					<label>First name*</label>
					<input type="text">
				</div>
				<div class="gutter"></div>
				<div class="form-el">
					<label>Last name*</label>
					<input type="text">
				</div>
			</div>

			<div class="col-wrapper">
				<div class="form-el">
					<label>Title*</label>
					<input type="text">
				</div>
				<div class="gutter"></div>
				<div class="form-el">
					<label>Company*</label>
					<input type="text">
				</div>
			</div>

			<div class="col-wrapper">
				<div class="form-el">
					<label>Country*</label>
					<input type="text">
				</div>
				<div class="gutter"></div>
				<div class="form-el">
					<label>Business phone*</label>
					<input type="number">
				</div>
			</div>

			<div class="col-wrapper">
				<div class="form-el inline">
					<input type="checkbox" id="followUp" checked>
					<label for="followUp">Yes, I'd like to follow up on what this calculation means and how the solution could help with my business.</label>
				</div>
			</div>

			<div class="col-wrapper">
				<div class="form-el">
					<button class="btn" type="submit" @click="showGate = false">Submit</button>
				</div>
			</div>

		</div>
	</div>

</div>