<div id="calculator" class="ar-ot-calc">
	<div v-show="loaded" style="display:none">
		<div class="row" :class="[{'blurred': showGate}]">
			<h1>AI-Driven Content Advisor - Value Calculator</h1>
			<%= require('html-loader?minimize!./calculator.html') %>
		</div>
		<div v-show="showGate">
			<%= require('html-loader?minimize!./gate.html') %>
		</div>
	</div>
</div>